services:
  app:
    build: .
    container_name: user_api_app
    working_dir: /app
    volumes:
      - ./:/app
    depends_on:
      - mysql
    ports:
      - "8000:8000"
    command: [ "sleep", "infinity" ]

  mysql:
    image: mysql:8.0
    container_name: user_api_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_api
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
